.viewer-header {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f2f2f2;
}


.viewer-header h1 {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 6px 10px;
    display: inline-block;
    vertical-align: top;
}

.viewer-header button + button {
    margin-left: 10px;
}

.viewer-header .welcome {
    color: #333;
    font-size: 14px;
    padding-right: 10px;
}

.viewer-user span {
    margin-right: 10px
}
