.page {
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 48px 20px;
    margin: 0 auto;
    color: #333;
}

.page-content {
}

.page h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    margin: 0 0 4px;
    display: inline-block;
    vertical-align: top;
}

.page p {
    margin: 1em 0;
}

.page a {
    text-decoration: none;
    color: #1ea7fd;
}

.page ul {
    padding-left: 30px;
    margin: 1em 0;
}

.page li {
    margin-bottom: 8px;
}